.checkout{
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
}
.checkout__left{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    border-right: 1px solid var(--border);
}
.checkout__right{
    width: 50%;
    display: flex;
    justify-content: flex-start;
    background-color: var(--detail-light);
}
.checkoutl__content{
    width: 100%;
    max-width: 610px;
    display: flex;
    flex-direction: column;
}
.checkoutr__content{
    width: 100%;
    max-width: 610px;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-top: 50px;
}
.checkoutr__list{
    list-style: none;
    display: flex;
}
.checkoutr__item{
    width: 100%;
    height: 64px;
    margin-bottom: 10px;
    display: flex;
}
.checkoutr__img--wraper{
    height: 100%;
    width: 64px;
}
.checkoutr__img{
    background-color: #fff;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    border-radius: 10px;
    border: 1px solid var(--border);
    padding: 2px;
}
