.checkout{
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
}
.checkout__left{
    padding-left: 10px;
    width: 50%;
    display: flex;
    justify-content: flex-end;
    border-right: 1px solid var(--border);
}
.checkout__right{
    width: 50%;
    display: flex;
    justify-content: flex-start;
    background-color: var(--detail-light);
}
.checkoutl__content{
    width: 100%;
    max-width: 570px;
    margin-right: 50px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}
.checkoutl__logo{
    font-size: 50px;
    color: var(--detail-dark);
    font-family: 'Dosis', sans-serif;
    user-select: none;
    cursor: pointer;
    margin-bottom: 35px;
}
.checkoutl__form{
    display: flex;
    flex-direction: column;
    color: var(--detail-dark);
    font-family: 'Roboto', sans-serif;
}
.checkoutl__form--label{
    font-size: 17px;
    margin-bottom: 10px;
}
.checkoutl__form--input{
    width: 100%;
    height: 48px;
    border: 1px solid var(--border);
    border-radius: 5px;
    padding-left: 10px;
    margin-bottom: 10px;
}
.checkoutl__form--checkbox--wraper{
    display: flex;
    width: 100%;
    margin-bottom: 20px;
}
.checkoutl__form--checkbox--input{
    width: 20px;
    height: 20px;
    appearance: none;
    box-shadow: none;
    border: none;
    border: 1px solid var(--border);
    border-radius: 5px;
    transition: 0.2s;
    position: relative;
    cursor: pointer;
    margin-right: 10px;
}
.checkoutl__form--checkbox--input::before{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    transform: translate(-50%, -50%);
    content: "";
    background-color: var(--detail-light);
    border-radius: 50%;
    transition: 0.2s;
}
.checkoutl__form--checkbox--input:checked{
    border-color: var(--detail-dark);
    background-color: var(--detail-dark);
}
.checkoutl__form--checkbox--input:checked:before{
    width: 9px;
    height: 9px;
}
.checkoutl__form--checkbox--label{
    font-size: 14px;
}
.checkoutl__form--select--wraper{
    position: relative;
    margin-bottom: 10px;
}
.checkoutl__form--select--arrow{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}
.checkoutl__form--select--select{
    width: 100%;
    height: 48px;
    border: 1px solid var(--border);
    padding-left: 10px;
    border-radius: 5px;
    appearance: none;
    cursor: pointer;
}
.checkoutl__form--labelh{
    font-size: 0;
}
.checkoutl__form--wraper{
    display: flex;
}
.half{
    width: 50%;
}
.margin{
    margin-right: 10px;
}
.checkoutl__buttons{
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--detail-dark);
}
.checkoutl__buttons--wraper{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.checkoutl__buttons--icon{
    font-size: 18px;
}
.checkoutl__buttons--text{
    font-size: 14px;
}
.checkoutl__buttons--button{
    border: none;
    box-shadow: none;
    background-color: var(--detail-dark);
    color: var(--detail-light);
    padding: 0 15px;
    height: 48px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}
.checkoutl__buttons--button:hover{
    background-color: #000;
}
.checkoutr__content{
    width: 100%;
    max-width: 418px;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-top: 50px;
}
.checkoutr__list{
    list-style: none;
    display: flex;
    flex-direction: column;
}
.checkoutr__item{
    width: 100%;
    height: 64px;
    margin-bottom: 10px;
    display: flex;
    font-family: 'Roboto', sans-serif;
    color: var(--detail-dark);
}
.checkoutr__img--wraper{
    height: 100%;
    width: 64px;
}
.checkoutr__img{
    background-color: #fff;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    border-radius: 10px;
    border: 1px solid var(--border);
    padding: 2px;
}
.checkoutr__title{
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 14px;
    margin: 0 14px;
    width: 130px;
}
.checkoutr__quantity--wraper{
    width: 130px;
    height: 100%;
    display: flex;
    align-items: center;
}
.checkoutr__quantity--change{
    height: 26px;
    width: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    box-shadow: none;
    border: none;
    border: 1px solid var(--detail-dark);
    color: var(--detail-dark);
    cursor: pointer;
    transition: 0.2s;
    font-size: 18px;
}
.checkoutr__quantity--change:hover{
    background-color: var(--detail-dark);
    color: var(--detail-light);
}
.checkoutr__quantity--display{
    width: 40px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid var(--detail-dark);
    border-bottom: 1px solid var(--detail-dark);
    font-size: 18px;
}
.checkoutr__quantity--delete{
    margin-left: 10px;
    width: 26px;
    height: 26px;
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--detail-dark);
    transition: 0.2s;
    cursor: pointer;
}
.checkoutr__quantity--icon{
    transition: 0.2s;
    user-select: none;
    pointer-events: none;
    color: var(--detail-dark);
    font-size: 18px;
}
.checkoutr__quantity--delete:hover{
    background-color: var(--detail-dark);
}
.checkoutr__quantity--delete:hover .checkoutr__quantity--icon{
    color: var(--detail-light);
}
.checkoutr__price{
    height: 100%;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}
.checkoutr__discout--wraper{
    width: 100%;
    height: 48px;
    margin: 10px 0;
    display: flex;
}
.checkoutr__discout--label{
    font-size: 0px;
    
}
.checkoutr__discout--input{
    font-size: 14px;
    color: var(--detail-dark);
    box-shadow: none;
    border: none;
    border: 1px solid var(--border);
    border-radius: 7px;
    padding: 0 11px;
    height: 48px;
    width: 335px;
}
.checkoutr__discout--button{
    margin-left: 18px;
    height: 100%;
    width: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--detail-dark);
    color: var(--detail-light);
    border: none;
    box-shadow: none;
    border-radius: 7px;
    cursor: pointer;
}
.checkoutr__subtotal--wraper{
    margin-top: 20px;
}
.checkoutr__subtotal--wraper, .checkoutr__shipping--wraper, .checkoutr__total--wraper{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    color: var(--detail-dark)
}
.checkoutr__subtotal--text, .checkoutr__shipping--text, .checkoutr__subtotal--value, .checkoutr__shipping--value{
    font-size: 14px;
}
.checkoutr__total--text, .checkoutr__total--value{
    font-size: 17px;
}
@media screen and (max-width: 1000px) {
    .checkout{
        flex-direction: column-reverse;
        min-height: auto;
    }
    .checkout__right{
        width: 100%;
        justify-content: center;
    }
    .checkoutr__content{
        max-width: 570px;
        margin: 20px 0 0 0;
    }
    .checkout__left{
        width: 100%;
        border: none;
        border-top: 1px solid var(--border);
        justify-content: center;
    }
    .checkoutl__content{
        margin-right: 10px;
    }
}
@media screen and (max-width: 600px) {
    .checkoutr__content{
        width: 100%;
        margin: 0 10px;
    }
}