.checkout{
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
}
.checkout__left{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    border-right: 1px solid var(--border);
}
.checkout__right{
    width: 50%;
    display: flex;
    justify-content: flex-start;
    background-color: var(--detail-light);
}
.checkoutl__content{
    width: 100%;
    max-width: 610px;
    display: flex;
    flex-direction: column;
}
.checkoutr__content{
    width: 100%;
    max-width: 610px;
    display: flex;
    flex-direction: column;
}