footer{
    border-top: 1px solid #e9e3db;
    height: 150px;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    color: var(--detail-dark);
}
.footer__wraper{
    margin: 0 auto;
    max-width: 1220px;
    width: 100%;
    height: 100%;
    display: flex;
    padding: 20px 10px;
}
.footer__left{
    width: 33%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.footer__list{
    height: 100%;
    width: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    list-style: none;    
}
.footer__list>li{
    font-size: 17px;
    font-weight: 400;
    cursor: pointer;
}
.footer__center{
    height: 100%;
    width: 34%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.footer__text{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;    
}
.email{
    width: 100%;
    height: 33%;
    position: relative;
}
.email__input{
    width: 286px;
    height: 40px;
    font-size: 16px;
    border: 1px solid #e9e3db;
    color: var(--detail-dark);
    padding: 8px 10px 8px 45px;
    position: absolute;
}
.email__input::placeholder{
    color: var(--detail-dark);
}
.email__icon{
    z-index: 10;
    top: 6px;
    left: 8px;
    position: absolute;
    cursor: pointer;
}
.footer__right{
    width: 33%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center ;
    justify-content: flex-start;
}
.footer__ppandtos{
    font-size: 14px;
    margin-bottom: 5px;
}
.footer__a{
    cursor: pointer;
}
.footer__copyright{
    font-size: 11px;
}
@media screen and (max-width: 1100px) {
    .footer__list{
        width: 100%;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
    }
}