@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
/* logo font */
/* font-family: 'Dosis', sans-serif; */
nav{
    width: 100%;
    height: 78px;
    background-color: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.nav__wraper{
    height: 100%;
    max-width: 1220px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}
.nav__logo{
    font-size: 30px;
    font-family: 'Dosis', sans-serif;
    color: var(--detail-dark);
}
.material-symbols-outlined{
    color: var(--detail-dark);
    font-size: 28px;
}
