@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
/* logo font */
/* font-family: 'Dosis', sans-serif; */
nav{
    width: 100%;
    height: 78px;
    background-color: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav__wraper{
    height: 100%;
    max-width: 1220px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;

}
.nav__logo{
    font-size: 30px;
    font-family: 'Dosis', sans-serif;
    color: var(--detail-dark);
    cursor: pointer;
    text-decoration: none;
}
.nav__cart{
    color: var(--detail-dark);
    font-size: 28px;
    position: relative;
    cursor: pointer;
}
.nav__cart--on::before{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    display: block;
    border-radius: 50%;
    background-color: #926b49;
    border: 1px solid var(--background);
    right: 2px;
    top: 0;
}

