.product{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.product__back--wraper{
    width: 40px;
    height: 28px;
    position: fixed;
    top: 80px;
    left: 10px;
    cursor: pointer;
}
.product__back--arrow{
    position: absolute;
    top: 0px;
    left: 12px;
    transition: 0.2s;
    user-select: none;
}
.product__back--wraper:hover .product__back--arrow{
    left: 0;
}
.product__top{
    width: 100%;
    height: auto;
    min-height: 770px;
    display: flex;
    overflow: visible;
}
.top__left{
    width: 60%;
    height: 770px;
}
.top__img{
    height: 100%;
    width: 100%;
    object-fit :scale-down;
    object-position: center;
}
.top__right{
    min-height: 100%;
    width: 40%;
    margin-left: 25px;
    background-color: var(--detail-light);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 25px;
    font-family: 'Roboto', sans-serif;
    color: var(--detail-dark);
}
.top__title{
    font-size: 35px;
}
.top__price{
    font-size: 20px;
    font-weight: 700;
    margin: 20px 0;
}
.top__rating{
    margin-bottom: 10px;
    display: flex;
    font-size: 12px;
    align-items: flex-end;
}
.rating__star{
    font-size: 18px;
    margin-right: 5px;
}
.top__description{
    max-width: 420px;
    font-size: 16px;
    margin: 10px 0 25px;
    border-top: 1px solid #e9e3db;
    line-height: 1.6;
}
.top__characteristics{
    list-style: none;
}
.characteristics__wraper{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.characteristics__icon{
    font-size: 28px;
}
.characteristics__text{
    font-size: 14px;
    letter-spacing: 1.5px;
    margin-left: 10px;
}
.top__quantity{
    display: flex;
    margin: 20px 0;
}
.top__quantity--button{
    border: 1px solid var(--detail-dark);
    background-color: var(--detail-light);
    box-shadow: none;
    width: 41px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    font-size: 20px;
    cursor: pointer;
}
.top__quantity--display{
    border-top: 1px solid var(--detail-dark);
    border-bottom: 1px solid var(--detail-dark);
    width: 46px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.top__quantity--button:hover{
    background-color: var(--detail-dark);
    color: var(--detail-light);
}
.top__add-to-cart{
    border: 1px solid var(--detail-dark);
    background-color: var(--detail-light);
    box-shadow: none;
    height: 46px;
    padding: 0 30px;
    font-weight: 700;
    transition: 0.2s;
    cursor: pointer;
    margin-bottom: 10px;
    color: var(--detail-dark);
}
.top__add-to-cart:hover{
    background-color: var(--detail-dark);
    color: var(--detail-light);
}
@media screen and (max-width: 1000px) {
    .top__title{
        font-size: 25px;
    }
}
@media screen and (max-width: 900px) {
    .product__top{
        flex-direction: column;
    }
    .top__left{
        width: 100%;
        height: 300px;
        margin-bottom: 10px;
    }
    .top__right{
        padding: 25px;
        width: 100%;
        min-height: 470px;
        margin: 0;
    }
    .top__description{
        max-width: none;
    }
}