.bar{
    width: 100%;
    max-width: 1220px;
    margin: 100px auto 50px;
    height: 78px;
    background-color: var(--detail-dark);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    color: var(--detail-light);
}
.bar__text{
    width: 100px;
    margin: 10px;
    font-size: 35px;
    font-weight: 400;
}
.filters{
    width: calc(100% - 100px);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.filters__wraper{
    position: relative;
}
.filters__arrow{
    position: absolute;
    top: 50%;
    left: 83%;
    transform: translateY(-50%);
    z-index: 100;
    color: var(--detail-dark);
    user-select: none;
    pointer-events: none;
}
.filters__select{
    outline: none;
    border: none;
    width: 150px;
    height: 30px;
    box-shadow: none;
    background-color: var(--detail-light);
    margin: 0 10px;
    padding: 5px;
    color: var(--detail-dark);
    appearance: none;
    -webkit-appearance: none;
    position: relative;
    cursor: pointer;
}
.grid{
    width: 100%;
    margin: 0 auto;
    max-width: 1220px;
    min-height: 500px;
    display: grid;
    grid-template-rows: repeat(1, 460px);
    grid-template-columns: repeat(auto-fit, minmax(290px, 305px));
    grid-auto-rows: 460px;
    align-items: center;
    justify-content: center;
}
