.sbanner{
    max-width: 1220px;
    width: 100%;
    height: 400px;
    display: flex;
    font-family: 'Roboto', sans-serif;
    margin: 50px 0;
}
.sbanner__left{
    height: 100%;
    width: 50%;
    margin-right: 12px;
}
.sbanner__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right;
}
.sbanner__right{
    height: 100%;
    width: 50%;
    margin-left: 12px;
    background-color: var(--detail-light);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 60px;
    color: var(--detail-dark);
    padding-right: 10px;
}
.sbanner__title{
    font-size: 27px;
    margin-bottom: 10px;
    font-weight: 700;
}
.sbanner__text{
    max-width: 470px;
    line-height: 1.6;
}
@media screen and (max-width: 1100px) {
    .sbanner__right{
        padding: 0 20px;
    }
}
@media screen and (max-width: 900px) {
    .sbanner{
        flex-direction: column;
        height: auto;
    }
    .sbanner__left{
        width: 100%;
        height: 200px;
    }
    .sbanner__img{
        height: 100%;
        object-position: center;
        object-fit: cover;
    }
    .sbanner__right{
        width: 100%;
        height: 200px;
        margin: 0;
    }
    
}
@media screen and (max-width: 350px) {
    .sbanner__right{
        height: 250px;
    }
}