@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
/* font-family: 'Roboto', sans-serif; */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
:root{
  --background: #ffffff;
  --detail-dark: #2c2e2f;
  --detail-light: #f7f3ee;
  --border: #e9e3db;
}
